services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"

    environment:
      - DATABASE_URL=sqlite:///./test.db
      - COINGECKO_API_KEY=CG-8kbajm97Zrhfzos7443bXPgU
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/docs"]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build: ./frontend
    ports:
      - "3003:80"
    depends_on:
      backend:
        condition: service_healthy
